body,
html{
    padding:0;
    margin:0;
}
main,
footer{
    max-width: 70%;
    margin:0 auto;
}
.block-heading{
    font-size: 35px;
    margin-top:30px;
    color: blue;
}

/* make image responsive */
.block-image img{
    width:100%;
    height:auto;
}

footer {
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
